.center {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;

    justify-content: center;
    align-items: center;
    font-size: var(--text-xs);
    
    box-shadow: 0 0 2px var(--c-subtitle);
    background-color: transparent;
    color: var(--c-text-color);
    font-family: "Exo 2";
    gap: var(--space-s)
}

.center path {
    fill: var(--c-text-color);
}